<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Apply to Praxis</a>
      <a mat-list-item routerLink="/login">Log In</a>
      <a mat-list-item routerLink="/sessionsurvey">Session Survey</a>
      <a mat-list-item routerLink="/applicants">Applicants</a>
      <a mat-list-item routerLink="/finalsurvey">Final Survey</a>
      <a mat-list-item href="https://www.psl.com.co/">About PSL</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!--span>Team 3 App</span-->
      <span> <img width="130" height="39" alt="PSL Logo"  routerLink="/" src="https://www.psl.com.co/templates/t3_bs3_blank/images/logo.png"> </span>
      <span class="spacer"></span>
      <button 
      mat-icon-button color ="accent"> 
      <mat-icon aria-label="Help" routerLink="/help">help_outline</mat-icon>
      
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
