<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    
    <form [formGroup]="firstFormGroup" class="regisForm">
      <h2>Personal Information</h2>
      <ng-template matStepLabel>User</ng-template>
      <div>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstCtrl" [(ngModel)]="model.names" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Last Name" [(ngModel)]="model.lastnames" formControlName="secondCtrl" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Identification Number" [(ngModel)]="model.id" formControlName="thirdCtrl" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="BirthDay" type=date [(ngModel)]="model.birthdate" formControlName="thirdCtrl" required>
        </mat-form-field>
      </div>

      <h2>User Information</h2>
      <div>
          <mat-form-field >
            <input matInput placeholder="Email" type= "email" [(ngModel)]="model.email"  formControlName="fourthCtrl" required email>

          </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput id='password' placeholder="Password" name="password" [(ngModel)]="model.password" type=password formControlName="fifthCtrl" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput id='repassword' placeholder="Repeat Password" type=password formControlName="sixthCtrl" required>
        </mat-form-field>
      </div>
    

  
      
      <div>
        <button mat-raised-button color="accent" matStepperNext onclick="validate_password()">
            Next<mat-icon aria-label="Record">navigate_next</mat-icon>
        </button>
      </div>
    </form>
    

    


  </mat-step>
  <mat-step >
    <form >
      <ng-template matStepLabel>Video</ng-template>
      <div>
        <h2>Introduction Video</h2>
      </div>
      <div>
        <h3>
          Tell us what are your expectations about PRAXIS
          process and introduce yourself
        </h3>
      </div>

      <div class="row">
        <div class="col-xs-12">
          
          <video #video class="video" id= 'video' ></video>
          
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button mat-raised-button color="accent" (click)="startRecording()">
            <mat-icon aria-label="Record" >videocam</mat-icon>
        </button>
          <button mat-raised-button color="warn"(click) ="stopRecording()">
            <mat-icon aria-label="Record" >stop</mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="download()"> Download</button>
        </div>
      </div>
      

      <div>
        <button mat-raised-button color="primary" matStepperPrevious>
            <mat-icon aria-label="Record">navigate_before</mat-icon>Back
        </button>
        <button mat-raised-button color="accent" matStepperNext onclick="validate_video()">
            Next<mat-icon aria-label="Record">navigate_next</mat-icon>
        </button>
      </div>
    </form>
    
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <h2>Register Information</h2>


    <h3>Personal Information</h3>
    
    <div>
      <h4>Name: {{model.names}}</h4>      
    </div>
    <div>
      <h4>Last Name: {{model.lastnames}}</h4>
    </div>
    <div>
      <h4>BirthDay: {{model.birthdate}}</h4>
    </div>
    <h3>User Information</h3>
    <div>
      <h4>Email address: {{model.email}}</h4>
    </div>
    <div id='videocontainer'> Video: </div>
    
   
    <div>
      <button mat-raised-button matStepperPrevious color="primary">
         <mat-icon aria-label="Record">navigate_before</mat-icon>Back
      </button>
      <button mat-raised-button color="accent" (click)="saveApplicant()" [routerLink]="['/success']">
         Submit</button>
      
    </div>
  </mat-step>
</mat-horizontal-stepper>